<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style-0.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body data-ng-app="WikiSearch">
  <div class="content">
      <div class="searchr-container searchr-mid" data-ng-class="{'searchr-mid': !searched, 'searchr-up': searched}" data-ng-controller="MainCtrl as wiki"><!--move up once class changes to serch-up-->
          <h1>Wiki Searcher</h1>
          <a href="https://en.wikipedia.org/wiki/Special:Random"><button>Random Article!</button></a><!--dunno why this counted as a user story-->
          <form data-ng-submit="searchWiki(wikiThis)">
                <input class="searchr" type="text" data-ng-model="wikiThis"/><a class="boxclose" data-ng-click="clear()"></a><!--search bar and X-->
          </form>
          <div class="previewPanel" data-ng-if="wikiThis"><!--search bar and X-->
            <p data-ng-repeat="title in glance.query.search">{{title.title}}</p>
          </div>
          <div class="results" data-ng-if="searched == true">
              <a data-ng-href="{{homeUrl + item.pageid}}" data-ng-repeat="item in returns">
              <div class="results-item">
                <h3><b>{{item.title}}</b></h3>
                <p>{{item.extract}}</p>
              </div>
              </a>
          </div>
      </div>
  </div>
</body>
